/* Header styles */
.header {
    background-color: white;
    padding: 10px 10px 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    box-sizing: border-box;
}

.header-logo {
    height: 40px;
    width: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 0.75fr 0.75fr;
    gap: 10px;
    height: calc(100vh - 70px); /* Adjusted to account for header height */
    padding: 0 5px;
}

.column {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 5px;
}

.column-1 {
    display: flex;
    flex-direction: column;
}

.video-section {
    background-color: #fff;
    height: auto;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9/16 = 0.5625) */
    overflow: hidden;
}

#video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.source-code-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 50%;
    border: 1px solid #e0e0e0;
}

.output-code-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    border: 1px solid #e0e0e0;
}

.variables-section {
    background-color: white;
    height: 100%;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
}

.variables-content {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}

.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.code-header h3 {
    margin: 0;
    font-weight: 400;
    color: #4b5056;
    font-size: 16px;
}

.code-header .buttons {
    display: flex;
    align-items: center;
}

.template-select {
    padding: 5px 10px;
    background-color: white;
    color: #666;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
}

.copy-icon, .download-icon, .upload-icon {
    background-color: white;
    color: #666;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    padding: 5px 10px;
    height: 28px;
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

.copy-icon:hover, .download-icon:hover, .upload-icon:hover {
    border-color: #ffd700;
}

.download-icon, .upload-icon {
    margin-left: 5px;
}

.json-textarea {
    flex: 1;
    font-family: monospace;
    padding: 10px;
    border: none;
    resize: none;
    margin: 0;
    background-color: white;
    color: #666;
    overflow-y: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
    display: flex;
    border-top: 1px solid #e0e0e0;
}

.inject-preview-button {
    width: 100px;
    height: 35px;
    background-color: #107eff;
    color: white;
    border: none;
    text-transform: lowercase;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

.inject-preview-button:hover {
    background-color: #75a4dc; /* Green color on hover */
}

.inject-preview-button:active {
    background-color: #888; /* Gray color when clicked */
}

.error-message {
    color: red;
    padding: 5px 10px;
    background-color: #fff;
}

h2 {
    margin-top: 0;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    max-width: 100%;
    box-sizing: border-box;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin-bottom: 5px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
}

.input-group input:focus {
    white-space: normal;
    overflow: visible;
}

.placeholder-instance {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}

.placeholder-header {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}

.placeholder-instance.updated {
    background-color: #ebf3fc;
    border: 1px solid rgb(102, 110, 226);
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

.column-3 {
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent overflow at column level */
}

#dynamicInputs {
    overflow-y: auto;
    flex: 1;
}

.section-header {
    background-color: #f4f8fe;
    padding: 8px 15px;
    margin: 10px 0;
    font-weight: bold;
    border-left: 4px solid #dfe5ef;
}

.section-separator {
    height: 1px;
    background-color: #ddd;
    margin: 15px 0;
}
